// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 16px;

$menu-content-elevation: 3;

$material-light: (
  'cards': white,
  'background': var(--v-background-base),
  'app-bar': transparent,
  'text': (
    'primary': var(--v-secondary-base),
    'secondary': '#8c8c8c',
  )
);

$material-dark: (
  'cards': var(--v-background-darken1),
  'navigation-drawer': var(--v-secondary-base),
  'background': var(--v-background-base),
  'app-bar':  transparent,
);

$body-font-family: 'Noto Sans JP', sans-serif;

body div.v-application .v-card {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05) !important;
}

[v-cloak]{
  display:none;
}
